USE [TestDB]
GO
/****** Object:  Table [dbo].[CrossSectionalArea]    Script Date: 4/24/2023 2:13:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CrossSectionalArea](
	[Station] [nvarchar](255) NULL,
	[Sep_18] [float] NULL,
	[Apr_19] [float] NULL,
	[Sep_19] [float] NULL,
	[Dec_19] [float] NULL,
	[Dec_20] [float] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[P1]    Script Date: 4/24/2023 2:13:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[P1](
	[Sep_18_Distance] [float] NULL,
	[Sep_18_Elevation(m)] [float] NULL,
	[Apr_19_Distance] [float] NULL,
	[Apr_19_Elevation(m)] [float] NULL,
	[Sep_19_Distance] [float] NULL,
	[Sep_19Elevation(m)] [float] NULL,
	[Dec_19_Distance] [float] NULL,
	[Dec_19_Elevation(m)] [float] NULL,
	[Dec_20_Distance] [float] NULL,
	[Dec_20_Elevation(m)] [float] NULL,
	[Sep_21_Distance] [float] NULL,
	[Sep_21_Elevation(m)] [float] NULL,
	[Nov_21_Distance] [float] NULL,
	[Nov_21_Elevation(m)] [float] NULL,
	[Dec_21_Distance] [float] NULL,
	[Dec_21_Elevation(m)] [float] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[P10]    Script Date: 4/24/2023 2:13:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[P10](
	[Sep_18_Distance] [float] NULL,
	[Sep_18_Elevation(m)] [float] NULL,
	[Apr_19_Distance] [float] NULL,
	[Apr_19_Elevation(m)] [float] NULL,
	[Sep_19_Distance] [float] NULL,
	[Sep_19Elevation(m)] [float] NULL,
	[Dec_19_Distance] [float] NULL,
	[Dec_19_Elevation(m)] [float] NULL,
	[Dec_20_Distance] [float] NULL,
	[Dec_20_Elevation(m)] [float] NULL,
	[Sep_21_Distance] [float] NULL,
	[Sep_21_Elevation(m)] [float] NULL,
	[Nov_21_Distance] [float] NULL,
	[Nov_21_Elevation(m)] [float] NULL,
	[Dec_21_Distance] [float] NULL,
	[Dec_21_Elevation(m)] [float] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[P2]    Script Date: 4/24/2023 2:13:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[P2](
	[Sep_18_Distance] [float] NULL,
	[Sep_18_Elevation(m)] [float] NULL,
	[Apr_19_Distance] [float] NULL,
	[Apr_19_Elevation(m)] [float] NULL,
	[Sep_19_Distance] [float] NULL,
	[Sep_19Elevation(m)] [float] NULL,
	[Dec_19_Distance] [float] NULL,
	[Dec_19_Elevation(m)] [float] NULL,
	[Dec_20_Distance] [float] NULL,
	[Dec_20_Elevation(m)] [float] NULL,
	[Sep_21_Distance] [float] NULL,
	[Sep_21_Elevation(m)] [float] NULL,
	[Nov_21_Distance] [float] NULL,
	[Nov_21_Elevation(m)] [float] NULL,
	[Dec_21_Distance] [float] NULL,
	[Dec_21_Elevation(m)] [float] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[P3]    Script Date: 4/24/2023 2:13:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[P3](
	[Sep_18_Distance] [float] NULL,
	[Sep_18_Elevation(m)] [float] NULL,
	[Apr_19_Distance] [float] NULL,
	[Apr_19_Elevation(m)] [float] NULL,
	[Sep_19_Distance] [float] NULL,
	[Sep_19Elevation(m)] [float] NULL,
	[Dec_19_Distance] [float] NULL,
	[Dec_19_Elevation(m)] [float] NULL,
	[Dec_20_Distance] [float] NULL,
	[Dec_20_Elevation(m)] [float] NULL,
	[Sep_21_Distance] [float] NULL,
	[Sep_21_Elevation(m)] [float] NULL,
	[Nov_21_Distance] [float] NULL,
	[Nov_21_Elevation(m)] [float] NULL,
	[Dec_21_Distance] [float] NULL,
	[Dec_21_Elevation(m)] [float] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[P4]    Script Date: 4/24/2023 2:13:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[P4](
	[Sep_18_Distance] [float] NULL,
	[Sep_18_Elevation(m)] [float] NULL,
	[Apr_19_Distance] [float] NULL,
	[Apr_19_Elevation(m)] [float] NULL,
	[Sep_19_Distance] [float] NULL,
	[Sep_19Elevation(m)] [float] NULL,
	[Dec_19_Distance] [float] NULL,
	[Dec_19_Elevation(m)] [float] NULL,
	[Dec_20_Distance] [float] NULL,
	[Dec_20_Elevation(m)] [float] NULL,
	[Sep_21_Distance] [float] NULL,
	[Sep_21_Elevation(m)] [float] NULL,
	[Nov_21_Distance] [float] NULL,
	[Nov_21_Elevation(m)] [float] NULL,
	[Dec_21_Distance] [float] NULL,
	[Dec_21_Elevation(m)] [float] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[P5]    Script Date: 4/24/2023 2:13:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[P5](
	[Sep_18_Distance] [float] NULL,
	[Sep_18_Elevation(m)] [float] NULL,
	[Apr_19_Distance] [float] NULL,
	[Apr_19_Elevation(m)] [float] NULL,
	[Sep_19_Distance] [float] NULL,
	[Sep_19Elevation(m)] [float] NULL,
	[Dec_19_Distance] [float] NULL,
	[Dec_19_Elevation(m)] [float] NULL,
	[Dec_20_Distance] [float] NULL,
	[Dec_20_Elevation(m)] [float] NULL,
	[Sep_21_Distance] [float] NULL,
	[Sep_21_Elevation(m)] [float] NULL,
	[Nov_21_Distance] [float] NULL,
	[Nov_21_Elevation(m)] [float] NULL,
	[Dec_21_Distance] [float] NULL,
	[Dec_21_Elevation(m)] [float] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[P6]    Script Date: 4/24/2023 2:13:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[P6](
	[Sep_18_Distance] [float] NULL,
	[Sep_18_Elevation(m)] [float] NULL,
	[Apr_19_Distance] [float] NULL,
	[Apr_19_Elevation(m)] [float] NULL,
	[Sep_19_Distance] [float] NULL,
	[Sep_19Elevation(m)] [float] NULL,
	[Dec_19_Distance] [float] NULL,
	[Dec_19_Elevation(m)] [float] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[P7]    Script Date: 4/24/2023 2:13:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[P7](
	[Sep_18_Distance] [float] NULL,
	[Sep_18_Elevation(m)] [float] NULL,
	[Apr_19_Distance] [float] NULL,
	[Apr_19_Elevation(m)] [float] NULL,
	[Sep_19_Distance] [float] NULL,
	[Sep_19Elevation(m)] [float] NULL,
	[Dec_19_Distance] [float] NULL,
	[Dec_19_Elevation(m)] [float] NULL,
	[Dec_20_Distance] [float] NULL,
	[Dec_20_Elevation(m)] [float] NULL,
	[Sep_21_Distance] [float] NULL,
	[Sep_21_Elevation(m)] [float] NULL,
	[Nov_21_Distance] [float] NULL,
	[Nov_21_Elevation(m)] [float] NULL,
	[Dec_21_Distance] [float] NULL,
	[Dec_21_Elevation(m)] [float] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[P8]    Script Date: 4/24/2023 2:13:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[P8](
	[Sep_18_Distance] [float] NULL,
	[Sep_18_Elevation(m)] [float] NULL,
	[Apr_19_Distance] [float] NULL,
	[Apr_19_Elevation(m)] [float] NULL,
	[Sep_19_Distance] [float] NULL,
	[Sep_19Elevation(m)] [float] NULL,
	[Dec_19_Distance] [float] NULL,
	[Dec_19_Elevation(m)] [float] NULL,
	[Dec_20_Distance] [float] NULL,
	[Dec_20_Elevation(m)] [float] NULL,
	[Sep_21_Distance] [float] NULL,
	[Sep_21_Elevation(m)] [float] NULL,
	[Nov_21_Distance] [float] NULL,
	[Nov_21_Elevation(m)] [float] NULL,
	[Dec_21_Distance] [float] NULL,
	[Dec_21_Elevation(m)] [float] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[P9]    Script Date: 4/24/2023 2:13:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[P9](
	[Sep_18_Distance] [float] NULL,
	[Sep_18_Elevation(m)] [float] NULL,
	[Apr_19_Distance] [float] NULL,
	[Apr_19_Elevation(m)] [float] NULL,
	[Sep_19_Distance] [float] NULL,
	[Sep_19Elevation(m)] [float] NULL,
	[Dec_19_Distance] [float] NULL,
	[Dec_19_Elevation(m)] [float] NULL,
	[Dec_20_Distance] [float] NULL,
	[Dec_20_Elevation(m)] [float] NULL,
	[Sep_21_Distance] [float] NULL,
	[Sep_21_Elevation(m)] [float] NULL,
	[Nov_21_Distance] [float] NULL,
	[Nov_21_Elevation(m)] [float] NULL,
	[Dec_21_Distance] [float] NULL,
	[Dec_21_Elevation(m)] [float] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SampleDateTime]    Script Date: 4/24/2023 2:13:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SampleDateTime](
	[slno] [bigint] IDENTITY(1,1) NOT NULL,
	[datetime] [datetime] NULL,
 CONSTRAINT [PK_SampleDateTime] PRIMARY KEY CLUSTERED 
(
	[slno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[testRank]    Script Date: 4/24/2023 2:13:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[testRank](
	[slno] [bigint] NULL,
	[rank] [bigint] NULL
) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[Insert_Datetime]    Script Date: 4/24/2023 2:13:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Insert_Datetime]
AS
BEGIN

INSERT INTO  sampledatetime (datetime) values(GETDATE())

END
GO
