<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="ConnectionString" connectionString="server=35.154.190.238;uid=sa;pwd=ide@#321;database=testdb;" providerName="system.data.sqlclient" />
    <!--<add name="ConnectionString" connectionString="server=3.7.61.58;uid=sa;pwd=ide@#321;database=live;" providerName="system.data.sqlclient"/>-->
    <!--<add name="ConnectionString" connectionString="server=3.7.239.160;uid=sa;pwd=Ide@#321;database=demopvr;" providerName="system.data.sqlclient"/>-->
    <!--<add name="ConnectionString" connectionString="server=13.234.138.62;uid=sa;pwd=ide@#321;database=ahll;" providerName="system.data.sqlclient"/>-->
    <!--<add name="ConnectionStringBackup" connectionString="server=3.7.239.160;uid=sa;pwd=Ide@#321;database=demopvr_rds;" providerName="system.data.sqlclient"/>-->
    <add name="ConnectionStringBackup" connectionString="server=dgtrakrds.c5lcuax4p04g.ap-south-1.rds.amazonaws.com;uid=admin;pwd=Mi!143341;database=ahll;" providerName="system.data.sqlclient" />
  </connectionStrings>
  <appSettings>
    <add key="fileLoc" value="D:\RnD\Files" />
    <add key="tempChannelIds" value="1,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,117,118,119,120" />
    <add key="mkt_Kelvin" value="273.15" />
    <add key="mkt_DH" value="83.14472" />
    <add key="mkt_R" value="0.008314472" />
    <add key="mkt_DHbR" value="10000" />
    <!--<add key="ExcludeHelpPage" value="fale" />-->
    <add key="clientLogo1HeightLeft" value="30" />
    <add key="clientLogo1WidthLeft" value="50" />
    <add key="clientLogo2HeightRight" value="30" />
    <add key="clientLogo2WidthRight" value="50" />
    <add key="pdfFooterText" value="Copyright © Ideabytes" />
    <!--<add key="domainName" value="iotsolution.net" />-->
    <add key="domainName" value="iotsystem.online" />
    <add key="hasHTTPS" value="false" />
    <add key="tokenExpInMin" value="30" />
    <add key="assetLoginAPI" value="http://localhost:50718/GetAccess" />
    <add key="FTPServerIP" value="54.179.134.139" />
    <add key="FTPUserName" value="Administrator" />
    <add key="FTPPassword" value="%qn66Ru8*pw" />
    <add key="FTPPortal" value="https://adminiot.iotsystem.online/FTP_Sensorcnt" />
    <add key="FTPRoute" value="D:\FTP_Root\Sensorcnt" />
    <add key="iconsFolder" value="D:\IBIoT\generic_icons" />
    <add key="portalURL" value="http://www.ideabytes.com/" />
    <add key="companyName" value="ideabytes" />
    <add key="MainAppPath" value="D:\WebApps\MainAPI" />
    <add key="NewAppPath" value="D:\WebApps" />
    <!--E:\IB_IoT\Venkat_Screen\bg.png-->
    <add key="pdfrightLogo" value="https://adminiot.iotsolution.net/FTP_Sensorcnt/dixell/Dixell.png" />
    <add key="pdfLocation" value="D:\report\" />
    <add key="showPDFHeaderLogo" value="true" />
    <add key="whiteLogo" value="D:\IB_IoT\Non-OneDrive\Venkat_Screen\Logos\WhiteLogo.png" />
    <add key="iblogo" value="D:\IB_IoT\Non-OneDrive\Venkat_Screen\Logos\ibsmart.png" />
    <add key="mpTopLogo" value="https://adminiot.iotsolution.net/FTP_Sensorcnt/dixell/Dixell.png" />
    <add key="mpBottomLogo" value="https://adminiot.iotsolution.net/FTP_Sensorcnt/dixell/Dixell.png" />
    <add key="mpSupportMailId" value="support@dgtrak.com" />
    <!--MailSend-->
    <add key="CC" value="" />
    <!--add key="MailId" value="notifications@marken-support.com" />
    <add key="FromName" value="Ideabytes IoT" />
    <add key="SMTPServer" value="smtp.gmail.com" />
    <add key="SMTPUser" value="notifications@marken-support.com" />
    <add key="SMTPPassword" value="mar123##" />
    <add key="emailSignature" value="Vignan Instruments" />
    <add key="phoneNumber" value="9063****45" />-->
    <!--<add key="MailId" value="setpactechsolutions@gmail.com" />
    <add key="FromName" value="Setpac IoT" />
    <add key="SMTPServer" value="smtp.gmail.com" />
    <add key="SMTPUser" value="setpactechsolutions@gmail.com" />
    <add key="SMTPPassword" value="India@8899" />-->
    <!--<add key="MailId" value="setpaciotalerts@gmail.com" />
    <add key="FromName" value="Setpac IoT" />
    <add key="SMTPServer" value="smtp.gmail.com" />
    <add key="SMTPUser" value="setpaciotalerts@gmail.com" />
    <add key="SMTPPassword" value="Setpc@123" />-->
    <!--<add key="MailId" value="cs@vlogsoft.net" />
    <add key="FromName" value="MarkEn IoT" />
    <add key="SMTPServer" value="smtp.office365.com" />
    <add key="SMTPUser" value="cs@vlogsoft.net" />
    <add key="SMTPPassword" value="Vignan@12345" />-->
    <add key="emailSignature" value="--" />
    <add key="phoneNumber" value="9063****45" />
    <!--<add key="MailId" value="cs@vignaninstruments.net" />
    <add key="FromName" value="VLOG IoT" />
    <add key="SMTPServer" value="smtpout.secureserver.net" />
    <add key="SMTPUser" value="cs@vignaninstruments.net" />
    <add key="SMTPPassword" value="Vignan@2020" />-->
    <!--<add key="MailId" value="notifications@subzeroiot.com" />
    <add key="FromName" value="Subzero IoT" />
    <add key="SMTPServer" value="smtp.gmail.com" />
    <add key="SMTPUser" value="notifications@subzeroiot.com" />
    <add key="SMTPPassword" value="IoT@Pvr2020" />-->
    <add key="MailId" value="alarm@iotsystem.online" />
    <add key="FromName" value="DGTrak IoT" />
    <add key="SMTPServer" value="smtp.gmail.com" />
    <add key="SMTPUser" value="alarm@iotsystem.online" />
    <add key="SMTPPassword" value="DGTrack398$#@" />
    <!--<add key="MailId" value="iotsuperuser49@gmail.com" />
    <add key="FromName" value="DGTrak IoT" />
    <add key="SMTPServer" value="smtp.gmail.com" />
    <add key="SMTPUser" value="iotsuperuser49@gmail.com" />
    <add key="SMTPPassword" value="Admin@123" />-->
    <!--SMS-->
    <add key="SMSkey" value="288771Alcs1Nmue5d4be4d2" />
    <add key="SMSapi" value="https://api.msg91.com/api/v2/sendsms?country=91" />
    <!--Template-->
    <add key="AlertTemplateId" value="1307162082835893545" />
    <add key="DeviceReporting" value="1307162082844424049" />
    <add key="DeviceStoppedReporting" value="1307162082840880008" />
    <add key="LoginOTP" value="1307162399077424740" />
    <add key="signUp" value="1307161710740464440" />
    <add key="signUpOTP" value="1307162399077424740" />
    <add key="loginDetails" value="1307163755987139955" />
    <add key="BrandName" value="Ideabytes" />
    <add key="pdfMake" value="Vignan Instruments" />
    <add key="Application" value="Sensor Connect" />
  </appSettings>
  <log4net>
    <appender name="TestAppender" type="log4net.Appender.RollingFileAppender">
      <file value="D:\Idea\project_1\Code\IoTAPI\IoTAPI\Log\IoTLog.log" />
      <encoding value="utf-8" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <!--<rollingStyle value="Size" />
      <maxSizeRollBackups value="5" />
      <maximumFileSize value="5MB" />
      <staticLogFileName value="true" />-->
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %level [%thread] %type.%method - %message%n" />
      </layout>
    </appender>
    <root>
      <level value="All" />
      <!-- If the following line is not included the log file 
      will not be created even if log4net is configured with this file. -->
      <appender-ref ref="TestAppender" />
    </root>
  </log4net>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthentication" />
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>
<!--ProjectGuid: DB06C56D-E1CB-43C4-87C2-87F91DAAAD29-->